deploy:
    svnurl: http://jira.uji.es/repos/uji/%s/uji-%s-base
    etcd_environment_url:  http://conf.uji.es/v2/keys/ujiapps/apps/all.yaml
    etcd_app_properties_url: http://conf.uji.es/v2/keys/ujiapps/apps/%s/app.properties
    version: trunk
    workdir: /tmp
