{% extends "layout.html" %}
{% block head %}
    <title>APP.properties manager</title>
    <script src="{{ url_for('static', filename='components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/configuration.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="header">
        <h1>APP.properties manager</h1>
        <h2>Manage/create/delete the configuration variables of each one of the UJI projects</h2>
    </div>

    <div class="content">
        <form>
            <select id="apps">
            </select>
        </form>

        <form>
            <textarea name="props" rows="20" style="width:100%"></textarea>
            <input type="button" id="update-config" value="Guardar app" />
            <input type="button" id="delete-config" value="Borrar app" />
        </form>

        <h1>Nueva</h1>

        <form id="form-new">
            <input type="text" name="app" value="xxx" />
            <input type="button" id="new-config" value="Guardar" />
        </form>
    </div>
{% endblock %}
