body {
    color: #777;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.content {
    margin: 2em;
    padding: 0 2em;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }

.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}

.header h2 {
    font-weight: 300;
    color: #888;
    padding: 0;
    margin-top: 0;
}

.menu {
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgb(61, 79, 93);
}

.menu ul {
   border: none;
   list-style: none;
   margin: 0;
   padding: 0;
}

.menu a {
    color: #fff;
    padding: 0.6em 0 0.6em 0.6em;
}

.menu .footer {
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.menu .selected {
    background: #333;
    color: #fff;
}

.selected .link, .selected .link:visited {
    color: #fff;
}

.menu .heading {
    display: block;
    font-size: 110%;
    color: #fff;
    background: #444;
    margin: 0;
}

.menu-link {
    display: block; /* show this only on small screens */
    height: auto;
}

.menu-link:hover,
.menu-link:focus {
    background: #333;
}

.header,
.content {
    padding-left: 2em;
    padding-right: 2em;
}

.layout {
    padding-left: 240px; /* left col width ".menu" */
    left: 0;
}

.deploy-form {
    text-align: center;
}

.log {
    padding: 1em;
    min-height: 320px;
    height: auto;
    width: 100%;
    background: #CCC;
    display: none;
}

.deploying-message {
  font-size: 1.5em;
  text-align: center;
  display: none;
}

.success {
  color: green;
}

.error {
  color: red;
}

.checkok {
  margin: 2em auto 0.5em;
}

.error {
  margin: 2em auto 0.5em;
}

/* SPINNER */

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  margin: 2em auto 0.5em;

}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
