<!doctype html>
<head>
    <title>Deployment configuration manager</title>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script>
        $.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        function loadAppList() {
            $.ajax({
                dataType: "json",
                url: "/api/apps",
                success: function (data) {
                    var options = $("#apps");
                    options.append($("<option />"));

                    for (var key in data) {
                        options.append($("<option />").text(key));
                    }
                }
            });
        }

        $(document).ready(function () {
            loadAppList();

            $("#apps").change(function(e) {
                var app = e.target.value;

                $.ajax({
                    url: "/conf/" + app,
                    success: function (data) {
                        $("textarea[name='props']").val(data);
                    }
                });
            });

            $("#update-config").click(function (e) {
                var app = $("#apps").val();

                console.log(app);

                $.ajax({
                    url: "/conf/" + app,
                    method: "PUT",
                    data: {
                        props: $("textarea[name='props']").val(),
                    },
                    success: function (data) {
                        $("textarea[name='props']").val(data);
                    }
                });
            });

            $("#new-config").click(function (e) {
                var formData = $("#form-new").serializeObject();

                $.ajax({
                    url: "/conf/" + formData.app,
                    method: "POST",
                    data: {
                        host: formData.host
                    },
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (data) {
                        if (data.responseText.indexOf("App already exists") >= 0) {
                            alert("La aplicación ya estaba registrada con anterioridad");
                        }
                    }
                });
            });

            $("#delete-config").click(function (e) {
                var formData = $("#form-new").serializeObject();

                $.ajax({
                    url: "/conf/" + formData.app,
                    method: "DELETE",
                    success: function (data) {
                        window.location.reload();
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>Deployment configuration manager</h1>

    <form>
        <select id="apps">
        </select>
    </form>

    <form>
        <textarea name="props" rows="20" style="width:100%"></textarea>
        <input type="button" id="update-config" value="Guardar app" />
        <input type="button" id="delete-config" value="Borrar app" />
    </form>

    <h1>Nueva</h1>

    <form id="form-new">
        <input type="text" name="app" value="xxx" />
        <input type="text" name="host" value="apexp02.uji.es" />
        <input type="button" id="new-config" value="Guardar" />
    </form>
</body>
