{% extends "layout.html" %}
{% block head %}
    <title>Deployment manager</title>
    <script src="{{ url_for('static', filename='components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='components/socket.io-client/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ansispan.js') }}"></script>
    <script src="{{ url_for('static', filename='js/deploy.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="header">
        <h1>Deploy management</h1>
        <h2>Select the project to deploy and press "Submit"</h2>
    </div>
    <div class="content">
        <form class="deploy-form" action="/deploy" method="POST" >
            <select name="app">
                {% for app in apps %}
                <option data-alternative="{{ app.alternative }}">{{ app.name }}</option>
                {% endfor %}
            </select>
            <button>Submit</button>
        </form>
        <div class="deploying-message">
          <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
          </div>
          <img class="checkok" src="static/img/check.png" />
          <div class="title">Deploying...</div>
        </div>

        <pre class="log"></pre>
    </div>
{% endblock %}
