{% extends "layout.html" %}
{% block body %}
    <div class="header">
        <h1>Deploy management</h1>
        <h2>Select the project to deploy and press "Submit"</h2>
    </div>
    <div class="content">
        <form class="deploy-form" action="/deploy" method="POST" >
            <select name="app">
                {% for app in apps %}
                <option>{{app}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit" />
        </form>
    </div>
{% endblock %}
