<!doctype html>
<head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    <div class="layout">
        <div class="menu">
            <a class="heading" href="/">ShipUI</a>
            <ul>
                <li class="{% if section=='deploy' %} selected{% endif %}"><a href="/deploy" class="menu-link">Deployments</a></li>
                <li class="{% if section=='conf' %} selected{% endif %}"><a href="/conf" class="menu-link">Configuration</a></li>
                <li class="{% if section=='properties' %} selected{% endif %}"><a href="/properties" class="menu-link">APP.properties</a></li>
                <li class="{% if section=='templates' %} selected{% endif %}"><a href="/templates" class="menu-link">Templates</a></li>
                <li class="{% if section=='templates' %} selected{% endif %}"><a href="/logout" class="menu-link">Logout</a></li>
            </ul>
            <p class="footer">Authenticated as {{ user }}</p>
        </div>
    <div class="main">
        {% block body %}{% endblock %}
    </div>
</body>
